body {
  background-color: #eceff4;
  font-family: monospace;
  margin: 40px;
  color: #2e3440;
}

::selection {
  background: #4c566a;
  color: #eceff4;
}

::-moz-selection {
  background: #4c566a;
  color: #eceff4;
}

a {
  color: #5e81ac;
  display: block;
  padding-bottom: 5px;
}

a:hover {
  color: #81a1c1;
}

.description {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  display: flex;
  width: 100vw;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#sitelist {
  border: #2e3440 1px solid;
  padding: 20px;
  margin: 20px;
  text-align: center;
}
